# Common Secrets
JWT_SECRET=mysecretkeymysecretkeymysecretkey123456789012345678901234567890
SSL_KEYSTORE_PASSWORD=changeit

# Kafka Config
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# MongoDB Database URIs (For Docker containers)
USER_DB_URI=mongodb://mongodb:27017/user_db
PRODUCT_DB_URI=mongodb://mongodb:27017/product_db

# Service Hosts (For Docker containers)
REDIS_HOST=redis
KAFKA_HOST=kafka:9092
MEDIA_SERVICE_URL=http://media-service:8083
USER_SERVICE_URL=http://user-service:8081
PRODUCT_SERVICE_URL=http://product-service:8082