# Common Secrets
JWT_SECRET= mysecretkeymysecretkeymysecretkey123456789012345678901234567890
SSL_KEYSTORE_PASSWORD= pass123

KAFKA_CLUSTER_ID=7D2_8SiITzyh-RWzA0XXXQ

# MongoDB Database URIs (For Docker containers)
USER_DB_URI=mongodb://mongodb:27017/user_db
PRODUCT_DB_URI=mongodb://mongodb:27017/product_db
ORDER_DB_URI=mongodb://mongodb:27017/order_db

REDIS_HOST=redis
KAFKA_HOST=kafka:9092

MEDIA_SERVICE_URL=http://media-service:8083
USER_SERVICE_URL=http://user-service:8081
PRODUCT_SERVICE_URL=http://product-service:8082
CART_SERVICE_URL=http://cart-service:8085
ORDER_SERVICE_URL=http://order-service:8084


JENKINS_ADMIN_USER=XXXX     
JENKINS_ADMIN_PASS=XXXXX    
SONAR_TOKEN=xxxxxxxxxxxxxxxxx
SMTP_EMAIL=xxxxxx@gmail.com
SMTP_PASSWORD=xxxxxxxxx
